Communication/obj/
PME/obj/
Shared/bin/
Shared/obj/
Tests/obj/
bin/
ProjectMindExpander.ncrunchsolution
ProjectMindExpander.ncrunchsolution.user
ProjectMindExpander.sln.DotSettings.user
ProjectMindExpander.v11.suo
